@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Apply font globally */
* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,
    system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0; 
  padding: 0; 
}